@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-default: #5e86ff;
  --color-default-secundario: #9fb7ff;
  --color-default-terciario: #2c61ff;
  --color-title: #fff;
  --color-subtitle: #fff;
  --color-text: #e4e4e4;
  --color-text-dark: #202020;
  --color-background: #292929;
  --color-buttonDownload: #161616;
  --color-discreto: #ffffff94;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--color-default);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: center;
  width: 100%;
}


.header_divIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.header_divIcon img {
  width: 70px;
  height: 70px;
}

.header_divIcon h1 {
  margin-left: 15px;
  color: var(--color-text-dark);
  font-size: 4rem;
  font-weight: 900;
}

.header_divActions {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.header_divActions a {
  text-decoration: none;
  color: var(--color-text-dark);
  padding: 0.5rem;
  transition: all 0.3s;
}

.header_divActions a:hover {
  background-color: var(--color-default-secundario);
  border-radius: 5px;
}

main {
  width: 100%;
}

main h3 {
  font-size: 2.5rem;
  color: var(--color-title);
  font-weight: 800;
}

main p {
  color: var(--color-text);
  top: 10px;
}

.main {
  padding: 4.0rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.main_areaTitle {
  text-align: center;

}

.main_titleText {
  color: #dfdfdf;
  font-weight: bold;
  font-size: 6.0rem;
  margin: 0px;
}

.main_subtitleText {
  color: #ACACAC;
  font-weight: bold;
  font-size: 3.0rem;
  margin: 0px;
}

.main_text {
  color: var(--color-text);
  font-size: 1.7rem;
}

.main_areaNotify {
  display: flex;
  flex-direction: column;
  background-color: var(--color-default);
  padding: 2.0rem;
  width: 100%;
}

.main_areaNotify p {
  font-size: 1.7rem;
  padding: 10px;
  color: var(--color-text);
}

.main_areaNotify li {
  font-size: 1.7rem;
  color: var(--color-text);
  margin-left: 30px;
}

.main_areaDownload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px 50px 20px;
}

.main_areaDownload button {
  all: unset;
  background-color: var(--color-default);
  padding: 1.0rem;
  border-radius: 7.5px;
  font-size: 2.0rem;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  cursor: pointer;
  border-width: 2px;
  border-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.0rem;
}

.main_areaDownload button p {
  color: var(--color-buttonDownload);
  font-size: 2.0rem;
  font-weight: 600;
  padding-right: 1.0rem;
}

.main_iconButton {
  padding-left: 1.0rem;
  height: 23.5px;
  color: var(--color-buttonDownload);
}

.barraDivisoria {
  height: 30px;
  border-style: solid;
  border-color: var(--color-buttonDownload);
  border-width: 1.5px;
  border-radius: 30%;
}

.main_areaDownload button:hover {
  background-color: var(--color-default)00;
  border-color: var(--color-default);
  color: var(--color-text);
}

.main_areaDownload button:hover .main_iconButton {
  color: var(--color-text);
}

.main_areaDownload button:hover .textDownload {
  color: var(--color-text);
}

.main_areaDownload button:hover .barraDivisoria {
  border-color: var(--color-text);
}

.main_areaDownload div {
  margin: 20px;
}

.main_areaDownload h3 {
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0px;
}

.main_areaDownload a {
  color: var(--color-default);
}

.main_areaDownload p {
  color: #e6e6e6b0;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0px;
}


.main_areaInfo {
  background-color: #292929;
  color: var(--color-text);
  padding: 2.0rem;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_areaInfo div {
  display: flex;
  align-items: center;
  background-color: var(--color-default);
  margin: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-default-secundario);
  width: 140px;
  height: 60px;
  justify-content: space-evenly;
}

.main_areaInfo div a {
  background-color: var(--color-default-terciario);
  padding: 0.1rem;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-default-secundario);
  border-width: 2px;
  font-size: 2.5rem;
  height: 30px;
  width: 30px;
  text-align: center;
}

p.destaque {
  color: var(--color-title);
  font-weight: 700;
  font-size: 2rem;
  margin: 0px;
}

p.nao_destaque {
  color: var(--color-title);
  font-weight: 100;
  margin: 0px;
  font-size: 1.7rem;
}

/*  FOOTER  */

footer {
  width: 100%;
  color: var(--color-text);
}

.footer {
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 2rem;
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .logo  {
  display: flex;
  flex-direction: column;
}

.footer .logo div {
  display: flex;
  align-items: center;
}

.footer .logo div img {
  width: 45px;
  height: 45px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 20%;
}

.footer .logo div h1 {
  margin-left: 10px;
  color: var(--color-title);
  font-size: 2.5rem;
}

.footer .logo p {
  font-size: 1.6rem;
  margin-top: 10px;
  color: var(--color-discreto);
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
}

.contact-dev, .contact-school {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h2 {
  text-align: center;
  font-size: 2.2rem;
}

.barraDivisoriaHorizontal {
  width: 250px;
  border-style: solid;
  border-color: #ffffff2d;
  border-width: 1.5px;
  border-radius: 30%;
  margin: 15px 0px 15px 0px;
}

.footer .list {
  display: flex;
}

.footer .key li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #fff;
  font-weight: 500;
  margin-right: 5px;
  font-size: 1.5rem;
}

.footer .value a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: var(--color-discreto);
  margin-left: 5px;
  font-size: 1.5rem;
}

.footer .creditos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer .creditos .dev {
  color: var(--color-discreto);
  font-size: 1.125rem;
}

.footer .creditos .dev span {
  color: var(--color-default);
  font-weight: 500;
}

.footer .creditos .love {
  color: var(--color-title);
  font-size: 2.0rem;
}

.footer .creditos .love span {
  color: var(--color-title);
  font-size: 2.0rem;
  font-weight: 700;
}

.footer-copyright {
  background-color: #000000;
  text-align: center;
  padding: 0.7rem 0rem 0.7rem 0rem;
  font-size: 1.5rem;
}


/*  RESPONSIVIDADE  */
@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
  .main_titleText {
    font-size: 5.0rem;
  }

  .main_subtitleText {
    font-size: 2.4rem;
  }

  .footer .logo div h1 {
    margin-left: 5px;
    font-size: 2.2rem;
  }

  .footer {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 768px) {
  .main_titleText {
    font-size: 4.0rem;
  }

  .main_subtitleText {
    font-size: 2rem;
  }

  .main_areaDownload button {
    padding: 0.5rem;
    height: 2.8rem;
  }
  
  .main_areaDownload button p {
    font-size: 1.8rem;
    padding-right: 0.7rem;
  }
  
  .main_iconButton {
    padding-left: 0.8rem;
    height: 21.5px;
  }
  
  .barraDivisoria {
    height: 27.5px;
  }

  .footer {
    grid-template-columns: repeat(1, 100%);
  }

  .footer .logo, .footer .contact-dev, .footer .contact-school, .footer .creditos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .main_titleText {
    font-size: 3.0rem;
  }

  .main_subtitleText {
    font-size: 2rem;
  }

  .main {
    padding: 2.0rem;
  }

  .main_areaDownload {
    flex-direction: column;
    margin: 40px 0px 40px 0px;
    align-items: normal;
  }

  .main_areaDownload button {
    padding: 0.5rem;
    height: 2.8rem;
  }
  
  .main_areaDownload button p {
    font-size: 1.8rem;
    padding-right: 0.7rem;
  }
  
  .main_iconButton {
    padding-left: 0.8rem;
    height: 21.5px;
  }
  
  .barraDivisoria {
    height: 27.5px;
  }
}

@media (max-width: 375px) {
  .main_titleText {
    font-size: 3rem;
  }

  .main_subtitleText {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .main_titleText {
    font-size: 2.9rem;
  }

  .main_areaNotify {
    padding: 7.5px;
  }

  .main_areaNotify li {
    font-size: 1.5rem;
  }
}









